Repository casperdcl/argopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

todo:
  name: Check TODO
  language: pygrep
  entry: WIP
  args:
  - -i

pytest:
  name: Run tests
  language: python
  entry: pytest
  args:
  - -qq
  - --durations=1
  pass_filenames: false
  additional_dependencies:
  - pytest-timeout

tests: drop pypy3
  .github/workflows/test.yml
Due: none

fix ci
  .github/workflows/test.yml
  setup.cfg
Due: todo

ci: update workflows
  .github/workflows/comment-bot.yml
  .github/workflows/test.yml
Due: todo

tests: update pre-commit
  .pre-commit-config.yaml
  argopt/_utils.py
  setup.cfg
  setup.py
Due: todo, pytest

lint
  argopt/__init__.py
  argopt/_argopt.py
  argopt/_utils.py
  examples/demo_advanced.py
  examples/demo_basic.py
  examples/demo_basic_docopt.py
  setup.py
  tests/tests_argopt.py
  tests/tests_utils.py
Due: todo, pytest

misc framework updates
  .gitignore
  LICENCE
  Makefile
  argopt/_argopt.py
  argopt/_docopt.py
  argopt/_utils.py
  setup.cfg
  tox.ini
Due: todo, pytest

update badge
  README.rst
Due: todo

ci: use default token for releases
  .github/workflows/test.yml
Due: none

minor lint, update token again
  .github/workflows/test.yml
  argopt/_argopt.py
Due: todo, pytest

docs: update badge URLs
  README.rst
Due: todo

CI: fix py3.7-ubuntu
  .github/workflows/test.yml
Due: none

bump CI & linters
  .github/workflows/comment-bot.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: todo

CI: drop manual pre-commit
  .github/workflows/test.yml
Due: none

add Py3.12 support
  .github/workflows/test.yml
  setup.cfg
  tox.ini
Due: todo

CI: misc tidy
  .github/workflows/test.yml
Due: none

use PyPI trusted publishing
  .github/workflows/test.yml
Due: none

update build/test framework, drop py<=3.6
  .pre-commit-config.yaml
  LICENCE
  Makefile
  argopt/_argopt.py
  pyproject.toml
  setup.cfg
  tests/tests_utils.py
  tox.ini
Due: todo, pytest

Do not install git-fame script for argopt
  pyproject.toml
Due: todo

Do not install git-fame script for argopt (#20)
  pyproject.toml
Due: todo

Exclude "examples" from installed packages
  pyproject.toml
Due: todo

remove unnecessary deps
  pyproject.toml
Due: todo

Exclude "examples" from installed packages (#21)
  pyproject.toml
Due: todo

Path conditions:
  todo: any file but: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  pytest: any of: \.py$
